cac-dich-vu-aws-khac/step-functions-demo/code/step_function_definition.json
{
  "Comment": "Process student CSV file and load to DynamoDB",
  "StartAt": "ProcessStudentData",
  "States": {
    "ProcessStudentData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-northeast-1:586098608758:function:student-processing-to-dynamo-db:$LATEST",
        "Payload": {
          "bucket.$": "$.detail.bucket.name",
          "key.$": "$.detail.object.key"
        }
      },
      "ResultPath": "$.lambdaResult",
      "ResultSelector": {
        "statusCode.$": "$.Payload.statusCode",
        "body.$": "$.Payload"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ],
      "Next": "CheckProcessingStatus"
    },
    "CheckProcessingStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.lambdaResult.statusCode",
          "NumericEquals": 200,
          "Next": "NotifySuccess"
        }
      ],
      "Default": "NotifyFailure"
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ap-northeast-1:586098608758:udemy-demo-stepfunctions-topic",
        "Subject": "✅ Student Data Processing - SUCCESS",
        "Message": {
          "result": "SUCCESS",
          "message": "Successfully to proces csv and insert to DynamoDB"
        }
      },
      "End": true
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ap-northeast-1:586098608758:udemy-demo-stepfunctions-topic",
        "Subject": "❌ Student Data Processing - FAILED",
        "Message": {
          "result": "FAILED",
          "message": "Error has occured"
        }
      },
      "End": true
    }
  }
}